.chat-container {
    display: *;
    *-direction: column;
    align-items: *-start;
}
.chat-reply {
    display: block;
    width: 100%;
    float: left;
}
.chat-bubble {
    display: inline-block;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
}
.chat-user {
    float: right;
    background-color: lightgreen;
}
.chat-agent {
    float: left;
    background-color: lightgrey;
}

.chat-bubble p {
    margin: 0;
    font-size: 16px;
    line-height: 1.4;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.button-container {
    text-align: center;
}

.button-container button {
    background-color: #343a40; /* Anthracite color */
    color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 70px 40px; /* Adjust size */
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button-container button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.button-container button:active {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.button-container button.thinking {
    animation: blink 1s infinite; 
}